<p class="intro h2">
  Zapraszam do kontaktu z Kancelarią od poniedziałku do czwartku w godz. 09:00 -
  15.00
</p>
<p class="subtext">
  Komornik przyjmuje strony osobiście we wtorki w godz. 10.00 – 16.00
</p>
<p class="subtext">
  Uwaga, od 01.10. 2023 r. nastąpiła zmiana adresu Kancelarii.<br />
  Aktualny adres:<br />
  <br />
  Komornik Sądowy przy Sądzie Rejonowym w Prudniku Patrycja Stawowy<br />
  Kancelaria Komornicza nr V w Głuchołazach<br />
  ul. Grunwaldzka nr 1<br />
  48-340 Głuchołazy<br />
  tel. +48 531-306-600 <br />
  <a href="mailto:prudnik.stawowy@komornik.pl">prudnik.stawowy@komornik.pl</a>
</p>
<p class="subtext">
  Kancelaria posiada całkowitą funkcjonalność w ramach Elektronicznego
  Postępowania Upominawczego (EPU) - ID 3229.
</p>
<p class="subtext">
  Wpłat należności można dokonywać na wskazany poniżej rachunek bankowy
  kancelarii komorniczej:<br />
  <strong>Santander Bank Polska Spółka Akcyjna 1 Oddział w Prudniku</strong
  ><br />
  <strong>13 1090 2226 0000 0001 5140 4411</strong>
</p>
